@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 145 50% 85%; /* pale green HSL */
  --foreground: 0 0% 0%;     /* black */

  --primary: 145 47% 46%;          /* UNT green */
  --primary-foreground: 0 0% 100%; /* White on green */

  --card: 0 0% 100%;
  --card-foreground: 0 0% 0%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 0%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 100%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 145 47% 46%;
  --radius: 0.5rem;
}

body {
  @apply bg-background text-foreground font-sans;
  font-family: var(--font-poppins), sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }

  h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.02em;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
